@import "bootstrap-sprockets";
@import "bootstrap";

.btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

.glyphicon {
  left: 10px;
  color: black;
}

.glyphicon-remove:hover,
.glyphicon-minus:hover {
  color: red;
}

.glyphicon-plus:hover {
  color: green;
}

.navbar-form>form>div {
  padding-right: 5px;
}
